<%- include('partials/head') %>

<div class="container">
  <header class="d-flex flex-direction-column align-items-center justify-content-between bg-color p-1 mb-3">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Chat Rooms
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/codingroom">Coding Room</a>
        <a class="dropdown-item" href="/mainroom">Home</a>
        <a class="dropdown-item" href="/petroom">Pet Room</a>
      </div>
    </div>
    <div>
      <h1> A Place to Share About Atlanta</h1>
    </div>
    <div>
      <a href="/logout"><button type="submit" class="btn btn-secondary">Logout</button></a>
    </div>
  </header>
  <section class="d-flex flex-direction-column border border-primary">
    <div id="mainChat" class="">
      <div id="chatHeader" class="bg-color d-flex justify-content-start">
        <h2 class="ml-2">Welcome to the ATL Room, <span class="username"><%= name %></span></h2>
      </div>
      <div id="chatBody" class="overflow-auto">
        <ul id="atlantaMessages" class="list-group w-80 flex-grow-1 overflow-auto" style="list-style-type: none;">
          <% for(var i=0; i < messages.length; i++) { %>
              <li class="list-group-item"><span class="dbusername"><%= messages[i].User.username %></span>: <%= messages[i].content %> <span class="number"><span>| <%= messages[i].formattedDate %></span></li>
          <% } %>
        </ul>
      </div>
      <div id="chatInput">
        <div class="typing mb-3"></div>
        <form class="chat-form d-flex align-items-end" data-room="Atlanta Room">
          <input class="form-control chat-input" id="chat-message" />
          <button type="submit" class="btn btn-primary">
            Post
          </button>
        </form>
      </div>
    </div>
    <div id="onlineUsers" class="border-left border-secondary">
      <div id="onlineHeader" class="bg-color d-flex justify-content-center">
        <h2>Online</h2>
      </div>
      <div id="users">
        <ul id="online" class="list-group w-80 flex-grow-1 overflow-auto" style="list-style-type: none;">
          <!-- Chat messages go here -->
        </ul>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Send a private chat!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="private-form d-flex m-2" data-room="privatechat" >
            <input class="form-control privatechat-input w-100" id="chat-message" />
            <button type="submit" class="btn btn-primary">
              Send
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
  </div>
</div>

<%- include('partials/foot') %>